/*GENERAL 
*********/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 2;
  color:#2d2d2d;
  background: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', Helvetica, sans-serif;
  font-weight: bold;
  /* font-size: 2rem; */
  padding-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.35rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.15rem;
}

p {
  padding-bottom: 1rem;
}
.italic-heading {
  font-style: italic;
  font-weight: normal;
}

a {
  text-decoration: none;
}
a:hover {
  color: #b64036;
}

img {
  max-width: 100%;
}


/*Color*/
.light-grey-text {
  color: #969696;
}

.orange {
  color: #e2574c
}

.light-grey-border {
  color: #d7d7d7;
}
/***************
NAVIGATION
****************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.aloha-logo {
  width: 25%;
  min-width: 150px;
}

.shopping-cart-icon {
  width: 15%;
  min-width: 50px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  border-top: 1px solid #d7d7d7;
}

.nav-links li {
  padding-top: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}

.nav-links li a {
  color: #e2574c;
  font-weight: 600;
  padding: 1rem;
}

.nav-links li a:hover {
  text-shadow: 1px 1px 1px #a73f38;
}


/********
HEADER
*********/
.navbar-offset {
  margin-top: 11rem;
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  text-align: center;
  background:
    linear-gradient(rgba(100,100,100,0.4), rgba(100,100,100,0.3) ),
    url('../images/banner-girl.png') center bottom / auto 90% no-repeat,
    url('../images/flower-bkgd.jpg') top center / auto 100%;
  color: white;
  text-shadow: 2px 2px 5px #242424;
}

.hero-banner h2 {
  font-size: 2.5rem;
  line-height: 1;
}

.hero-banner p {
  font-size: 1.25rem;
  font-weight: bold;
}

/***********************
PRODUCT CATEGORY SECTION
************************/
.gallery-title-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;  
  padding: 1rem;
  background: white;
  text-align: center;
}

/*Product Category Gallery*/
.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 50%;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid white;
}

.gallery-item a {
  color: white;
  font-size: 6vw;
  font-weight: 600;
  text-shadow: 1px 1px 1px #2d2d2d
  
}

.gallery-item:nth-of-type(5n+1) {
  flex-basis: 100%;
  border-left: none;
  border-right: none;
}

.gallery-item:first-of-type {
  border-top: none;
}

.gallery-item:last-of-type {
  border-bottom: none;
}

.gallery-item:nth-of-type(even) {
  border-left: none;
}

.gallery-item:nth-of-type(odd) {
  border-right: none;
}

/*Product Category Tile Images*/
.mens {background: url('../images/mens-category.jpg') no-repeat center center / cover;} 
.trends {background: url('../images/trends-category.jpg')  no-repeat center center / cover;}
.glasses {background: url('../images/glasses-category.jpg')  no-repeat center center / cover;}
.sale {background: url('../images/sale-category.jpg')  no-repeat center center / cover;}
.bags {background: url('../images/bags-category.jpg')  no-repeat center center / cover;}
.womens {background: url('../images/womens-category.jpg')  no-repeat center center / cover;}

/*Product Carousel: Flickity*/
.carousel-title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  height: 10rem;
}

.carousel-cell {
  text-align: center;
  color: #969696;
  font-weight: bold;
}

.carousel-cell h3 {
  color: #e2574c;
  font-weight: normal;
  padding: 1.25rem 0;
}


/*NEWSLETTER SIGN UP*/
.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: 
    linear-gradient(rgba(100,100,100,0.3), rgba(100,100,100,0.3) ),
    url('../images/wave-bkgd.jpg') center bottom / cover no-repeat;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px #969696;
  padding: 1rem;
}

.sign-up h1 {
  font-size: 2.25rem;
}

.sign-up p {
  font-size: 1.25rem;
}

/*Sign-up form */
input[id="email"] {
  padding: 1rem;
  border-radius: 50px;
  border: none;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1rem;
  background: white;
}

button {
  vertical-align: middle;
  padding: 0.75rem 1rem;
  border-radius: 50px;
  border: none;
  background: #e2574c;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1rem;
  color: white;
}

button:hover {
  background: coral;
}

.email-input-wrapper {
  padding-right: 0.25rem;
  margin: 1rem 0;
  width: auto;
  border-radius: 50px;
  background: white;
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 2rem 1rem;
  border-top: 7px solid white;
  background-color: #242424;
}

footer a {
  color: white;
}

.address-details {
  color: white;
  font-family: 'Playfair Display', Helvetica, sans-serif;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.social-links {
  width: 33.3333%;
  display: flex;
  justify-content: space-between;
}
.social-links p {
  display: none;
}



/* RESPONSIVE
*************/

/*TABLET*/
@media screen and (min-width: 600px) {
  /*GENERAL*/
  body {
    font-size: 16px;
  }

  /*NAVIGATION*/
  nav {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .navbar-offset {
    margin-top: 7rem;
  }

  /*Re-order nav bar*/
  .aloha-logo {
    max-width: 200px;
    order: 1;
  }

  .nav-links {
    width: auto;
    order: 2;
    margin: 0;
    border: none;
  }

  .nav-links li a {
    padding: 0 0.45rem;
  }

  .shopping-cart-icon {
    order: 3;
    width: auto;
    max-width: 70px;
  }

  /*Hero Banner*/
  .hero-banner h2 {
    font-size: 3rem;
  }

  .nav-links li {
    padding-top: none;
  }


  /*PRODUCT GALLERY*/

  /*Two row layout*/
  /*resize boxes*/
  .gallery-item {
    width: 25%;
    height: 25vw;
    border: 3px solid white;
  }

  .gallery-item:nth-of-type(5n+1) {
    flex-basis: 50%;
  }

  /*adjust white borders*/
  .gallery-item:nth-of-type(3n+1) {
    border-left: none;
  }

  .gallery-item:nth-of-type(3n+3) {
    border-right: none;
  }

  .gallery-item:first-of-type {
    border-right: 3px solid white;
  }

  .gallery-item:nth-of-type(2) {
    border-left: 3px solid white;
    border-top: none;
  }

  .gallery-item:nth-of-type(3) {
    border-top: none;
  }

  .gallery-item:nth-of-type(5) {
    border-right: 3px solid white;
    border-bottom: none;
  }

  .gallery-item:nth-of-type(4) {
    border-bottom: none;
  }

  .gallery-item:last-of-type {
    border-left: 3px solid white;
  }

  .gallery-item a {
    font-size: 4vw;
  }

  /*NEWSLETTER SIGN-UP*/
  .sign-up h1 {
    font-size: 3rem;
  }

  .sign-up-text-wrapper {
    width: 90%;
    text-align: center;
  }

  /*FOOTER*/
  footer {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }

  .social-links {
    flex-direction: column;
    width: auto;
    margin-right: 2rem;
  }

  .social-links p {
    display: inline-block;
    padding: 0 1rem;
  }

  .address-details{
    text-align: left;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1240px) {
  .desktop-text-wrapper {
    width: 50%;
  }

  .nav-links li {
    font-size: 1.5rem;
  }



}